.result-container {
    margin-top: 1vh;
    padding: 5px;
    width: 100%;
    height: auto;
    align-items: center;
    overflow: auto;
}

.card {
    margin: 2vh 4vh 2vh 5vh;
    padding: 1em;
    height: 15vh;
    width: auto;
    display: flex;
    border-radius: 12px;
    justify-content: left;
    background-color: #F5F5F5;
}