.result-container-outer {
    margin-top: 1vh;
    padding: 5px;
    position: relative;
    width: 100%;
    height: auto;
<<<<<<< HEAD
    align-items: center;
    overflow: auto;
=======
    box-sizing: content-box;
    overflow: hidden;
}

.result-container-inner {
    overflow-y: auto;
    justify-content: center;
>>>>>>> 076ea6016b2a136928fbe42c6c2915f175223def
}

.card {
    margin: 0.8vh;
    padding: 10px;
    height: 10vh;
    width: 300px;
    display: flex;
    border-radius: 12px;
    justify-content: left;
    background-color: #F5F5F5;
}