@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap:900');

.dash-background{
    background-color: black;
    height: 100vh
}

.dash-map {
    height: 500px;
    padding: 10px;
    vertical-align: center;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

.card-holder{
    background-color: white;
    width: 30vw;
    height: 95vh;
    position: absolute;
    bottom: 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-holder-title{
    font-family: square721bt;
    font-size: 3em;
    font-weight: bolder;
    color: #c1c1c1;
}