@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap:900');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

*{ 
    font-family: 'IBM Plex Sans', sans-serif;
}

.dash-background{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    position: relative;
}

.dash-map {
    height: 100vw;
    width: 100vw;
    padding: 10px;
    vertical-align: center;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

.card-holder{
    background-color: white;
    width: 30vw;
    height: 95vh;
    position: absolute;
    bottom: 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.card-holder-title{
    font-family: square721bt;
    font-size: 3em;
    font-weight: 1000;
    color: #c1c1c1;
}

.card-input{
    width: 25vw;
    height: 5vh;
    border: none;
    border-radius: 12px;
    text-align: center;
    font-size: 1.2em;
    color: #6a6a6a;
    font-weight: 500;

    -webkit-box-shadow: 0px 5px 22px -6px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0px 5px 22px -6px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 22px -6px rgba(0, 0, 0, 0.2);

    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.card-input:hover, :focus{
    -webkit-box-shadow: 0px 5px 22px -6px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0px 5px 22px -6px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 5px 22px -6px rgba(0, 0, 0, 0.4);
}

.hamburger-icon{
    margin-right: auto;
    bottom: 0;
    left: 0;
    margin: 1.5% 2%;
    position: absolute;
    z-index: 5;
}